<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        p
        {
            color:Red
        }
    </style>
</head>
<body>
<h1>Welcome Html Page</h1>
<div>
    <table>
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Address</td>
    </tr>
    {% for i in value %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.Age}}</td>
        <td>{{i.Address}}</td>
    </tr>
    {% endfor %}
    </table>
</div>


<!--<p>{{name}}</p>-->
<!--<p>{{Age}}</p>-->
<!--<p>{{Address}}</p>-->
<!--<p>{{Stress}}</p>-->
<!--<p>{{City}}</p>-->
<!--<input type="text">{{Name}}-->
</body>
</html>